/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
  padding: 0;
  margin: 0; }

/*Agregamos margenes inferiores a los parrafos*/
p {
  margin-bottom: 20px; }

.nav-bar-header {
  background: #1D90FF;
  color: white;
  width: 100%; }

.wrapper-nav-bar {
  margin: 0 auto; }

nav {
  float: initial;
  /* Desplazamos el nav hacia la izquierda */
  margin: 0auto; }

.fix-nav-bar {
  margin: 0 auto;
  color: white; }

.fix-nav-bar a:visited {
  margin: 0 auto;
  color: white; }

.fix-nav-bar a:hover {
  background-color: white;
  color: #1D90FF; }

nav ul {
  list-style: none;
  overflow: hidden;
  /* Limpiamos errores de float */ }

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
  width: 20%;
  text-align: center; }

nav ul li a {
  display: block;
  /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none; }

nav ul li:hover {
  background: #1D90FF; }

.contenido {
  padding-top: 80px; }

.wrapper-nav-bar {
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }
